!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom"}
  %channel
    %title== #{@user.username}'s Flickr photosets
    %link== http://flickr.com/photos/#{@user.id}/sets/
    %description== Photosets by #{@user.username}
    <atom:link href="http://flickrss.heroku.com/" rel="self" type="application/rss+xml" />
    - @sets.each do |set|
      %item
        %title
          <![CDATA[
          = set[:title]
          ]]>
        %link= set[:photoset_link_url]
        %description
          <![CDATA[
          %img{:src => set[:thumbnail_url]}
          %p
            = set[:description]
            %br
            %a{:href => set[:photoset_link_url]}View Photoset
            == (#{set[:count]} photos)
          ]]>
        %guid= set[:photoset_link_url]